spring:
  docker:
    compose:
      enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5430/snack_website
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
    hikari:
      initialization-fail-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8000

jwt:
  secret: my-super-secret-key-1234567890abcdef
