spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/snack_website
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
  docker:
    compose:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8000
